.DS_Store
.idea
env
venv
*.pyc
prod_settings.py
test_settings.py
*.log
logs
media
dump.rdb
celerybeat.pid
refresh.txt
local_settings.py
static
local_google-ads.yaml
/local-google-ads.yaml
.coverage
htmlcov
/secrets/
/prod.env
/dev.env
/dev-db.env
/share/